<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact  </title>
    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <%- include('header'); %>
        </header>
        <nav><%- include('nav'); %></nav>
        <main>
            <h2>Contact Us Page </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quod delectus consequuntur, voluptatibus suscipit cupiditate debitis iste harum quaerat illo fuga doloribus sequi nisi quibusdam consectetur obcaecati vitae veniam! A?</p>
             
        </main>
        <footer>
            <%- include('footer'); %>
        </footer>
    </div>
</body>
</html>